<div class="message">
  <table border="1">
    <tr>
      <th>id</th>
      <th>created at</th>
      <th>method</th>
      <th>ip</th>
      <th>scheme</th>
      <th>query_parameters</th>
      <th>query_string</th>
      <th>cookies</th>
      <th>headers</th>
      <th><trap_id></trap_id></th>
    </tr>

  <td><%=message['id']%></td>
  <td><%=message['created_at']%></td>
  <td><%=message['method'] %></td>
  <td><%=message['ip'] %></td>
  <td><%=message['scheme'] %></td>
  <td><%=message['query_parameters'] %></td>
  <td><%=message['query_string'] %></td>
  <td><%=message['cookies'] %></td>
  <td><%=message['headers'] %></td>
  <td><%=message['trap_id'] %></td>
  <tr></tr>
  </table>



</div>


